@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "clash-display";
	src: url("../../public/ClashDisplay-Variable.ttf") format("truetype");
	font-weight: 800;
	font-display: swap;
}

@layer utilities {
	.font {
		font-family: "clash-display", sans-serif;
	}
	.mobileNav {
		@apply md:hidden absolute right-8 top-16 w-32 z-10 bg-stone-800 rounded-lg overflow-hidden text-xl justify-center items-center flex transition-all duration-500 ease-in-out;
	}
}

* {
	margin: 0;
	padding: 0;
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
		to bottom,
		rgb(var(--background-end-rgb)),
		rgb(var(--background-start-rgb))
	);
	font-family: "Poppins", "clash-display", sans-serif;
	scroll-behavior: smooth;
	scroll-padding-top: 0px;
	scroll-behavior: smooth;
	font-family: "clash-display", sans-serif;
}

:root {
	--foreground-rgb: 10, 10, 10;
	--background-start-rgb: 160, 165, 166;
	--background-end-rgb: 200, 200, 200;
}
:root {
	font-family: "Poppins", "clash-display", sans-serif;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 250, 250, 250;
		--background-start-rgb: 20, 20, 20;
		--background-end-rgb: 20, 20, 20;
	}
}

::-webkit-scrollbar {
	width: 10px;
	background-color: rgb(10, 10, 10);
}

::-webkit-scrollbar-thumb {
	background-color: #232124;
	border: 2px solid #111;
	border-radius: 100vmax;
}

::-webkit-scrollbar-thumb:hover {
	background: #36323a;
	cursor: pointer;
}

@keyframes rotate {
	from {
		rotate: 0deg;
	}

	50% {
		scale: 1 1.5;
	}

	to {
		rotate: 360deg;
	}
}

/* Additional CSS for large screens */
@media screen and (min-width: 1024px) {
	body {
		background-size: 100% 100%;
	}
}
